<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <ul>
        <li><a>GENRE</a></li>
        <li>
            <ul style="margin-left:20px;">
                @foreach (var tag in Tags)
                {
                    <li><a href="#" data-tag="@tag">@tag.ToLower()</a></li>
                }
            </ul>
        </li>
    </ul>

</div>

@code{

    List<string> Tags = new List<string> {
    "all",
    "classical",
    "country",
    "dance",
    "disco",
    "house",
    "jazz",
    "pop",
    "rap",
    "retro",
    "rock",
    };
}