@inject IJSRuntime JS;

<section class="playlist">
    <div class="close" onclick="HidePlayList()"><a class="close" href="#">X</a></div>
    <ul>
        @foreach (var station in Stations)
        {
            <li class="track" data-album="the 2nd Law" data-trackid="65852671" @onclick="@(e => SelectStation(station.StationUUID))">
                <div>
                    <figure>
                        <img src="@station.IconURL" />
                    </figure>
                    <label>
                        <strong>@station.Name</strong>
                        @if (CurrentStation != null && station.StationUUID == CurrentStation.StationUUID)
                        {

                            <span>playing..</span>
                        }
                        else
                        {
                            <span><i class="fa fa-play"></i></span>
                        }
                    </label>
                </div>
            </li>
        }
    </ul>
</section>

@code{

    [Parameter]
    public IEnumerable<Model.Station> Stations { get; set; }

    [CascadingParameter]
    public Model.Station CurrentStation { get; set; }

    [Parameter]
    public EventCallback<Model.Station> OnStationSelected { get; set; }

    private void SelectStation(string stationId)
    {
        var selectedStation = Stations.FirstOrDefault(q => q.StationUUID == stationId);
        if (selectedStation != null && stationId != CurrentStation.StationUUID)
        {
            JS.InvokeVoidAsync("HidePlayList");
            OnStationSelected.InvokeAsync(selectedStation);
        }
    }

}