@if (Visible)
{
    <div class="d-flex justify-content-center">
        <strong class="text-light">@Text</strong>
        <div class="spinner-border text-light ml-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}

@code{
    [Parameter]
    public bool Visible
    {
        get; set;
    }

    [Parameter]
    public string Text { get; set; } = "Loading...";
}