/*https://codepen.io/webandapp/full/reVmyN*/


body {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/* basic settings */
html {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    /* background: #ff4e79;*/
    background-image: url('/images/music-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Helvetica", "Arial", sans-serif;
}

.player-extended {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}

    .player-extended .bgBox {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.1;
        background-position: center center;
    }

        .player-extended .bgBox img {
            display: none;
        }

h1 {
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
    font-weight: 700;
    position: fixed;
    font-size: 5vw;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    margin: 0 auto;
    border: 10px solid rgba(0, 0, 0, 0);
    min-width: 400px;
    max-width: 450px;
}

    .main h2 {
        color: #fff;
    }

    .main .player {
        -webkit-box-shadow: 13px 31px 52px -19px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 13px 31px 52px -19px rgba(0, 0, 0, 0.75);
        box-shadow: 13px 31px 52px -19px rgba(0, 0, 0, 0.75);
    }

        .main .player .playlist {
            z-index: 6;
            position: absolute;
            left: 0;
            top: 0;
            background: #000;
            width: 0;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

            .main .player .playlist p.info {
                min-width: 240px;
                overflow: hidden;
                color: #ccc;
                padding: 0 40px;
                line-height: 1.4;
                font-size: 0.85em;
                margin-bottom: 1.2em;
            }

                .main .player .playlist p.info a {
                    color: #ff4e79;
                }

            .main .player .playlist ul {
                list-style-type: none;
                margin: 40px 20px 40px 20px;
                padding: 0;
            }

            .main .player .playlist li {
                background: #000;
                color: #fff;
                padding: 0 70px;
                position: relative;
                margin: 0 0 30px 0;
                height: 50px;
                font-size: 0.85em;
                position: relative;
                cursor: pointer;
            }

                .main .player .playlist li:last-child:after {
                    display: none;
                }

                .main .player .playlist li:after {
                    content: "";
                    width: 100%;
                    left: 0;
                    height: 1px;
                    background: #262626;
                    position: absolute;
                    bottom: -14px;
                }

            .main .player .playlist time {
                position: absolute;
                right: 0;
                top: 0;
                width: 50px;
                color: #666;
                text-align: right;
                cursor: pointer;
            }

            .main .player .playlist figure {
                position: absolute;
                left: 0;
                top: 0;
            }

            .main .player .playlist strong, .main .player .playlist span {
                display: block;
            }

            .main .player .playlist span {
                margin-top: 0.3em;
                font-size: 0.9em;
                color: #ccc;
            }

            .main .player .playlist img {
                width: 50px;
                cursor: pointer;
            }

            .main .player .playlist label {
                width: 100%;
                padding: 0 0 0 1em;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                white-space: nowrap;
                cursor: pointer;
            }

            .main .player .playlist .close {
                position: relative;
                float: right;
                top: 0;
                margin-top: 10px;
                margin-right: 10px;
                color: white;
                z-index: 10
            }

        .main .player figure {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
            position: relative;
        }

        .main .player .currentTrackCover {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            z-index: 2;
        }

        .main .player .trackIcon {
            width: 400px;
            height: 400px;
            border: 5px solid #000;
        }


        .main .player figcaption {
            position: absolute;
            width: 100%;
            background: #000;
            display: block;
            padding: 4px 40px;
            bottom: 0;
            color: rgba(255, 255, 255, 0.3);
            z-index: 3;
        }

        .main .player img {
            width: 100%;
            opacity: 0.7;
        }

    .main .controls {
        padding: 40px;
        background: #000;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

.audio {
    height: 120px;
}

.controls {
    position: relative;
}

h2.title {
    position: absolute;
    left: 40px;
    top: 0px;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    width: 350px;
}

.scrubber {
    position: relative;
    top: 70px;
}

.buttons {
    position: relative;
    color: #666;
    margin-top: -30px;
}

    .buttons .repeat {
        position: absolute;
        left: 0px;
    }

    .buttons .shuffle {
        text-align: right;
        right: 0px;
    }

.progress {
    height: 2px;
    background: #333332;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.loaded {
    height: 2px;
    position: absolute;
    background: #fff;
    left: 0;
    top: 0;
    z-index: 2;
    width: 0;
}

.play-pause {
    top: 30px;
    position: relative;
    left: 0;
}

    .play-pause .playbuttons {
        color: #fff;
        position: absolute;
        left: 0;
        font-style: normal;
    }

    .play-pause .volume {
        color: #fff;
        position: absolute;
        font-weight: normal;
        right: 136px;
    }

    /*.play-pause {
    position: absolute;
    right: 40px;
    top: 9px;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: right;
    cursor: pointer;
    transform-origin: 50% 50%;
}*/

    .play-pause .fa-play.loading {
        transform-origin: 50% 50%;
        -webkit-animation: doubleBounce 1s infinite ease-in-out;
        animation: doubleBounce 1s infinite ease-in-out;
    }

    .play-pause .fa {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        top: 0;
    }

    .play-pause .fa-pause {
        display: none;
    }

    .play-pause .connecting {
        display: none;
    }

        .play-pause .connecting .fa {
            width: auto;
            height: auto;
        }

/* color-palette */
.color-palette {
    position: fixed;
    bottom: 0;
    right: 0;
    list-style-type: none;
}

    .color-palette li {
        width: 10px;
        height: 20px;
    }

/* menu button */
.menu-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 41px;
    height: 41px;
    margin-left: -20px;
    cursor: pointer;
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
}

    .menu-button span {
        display: block;
        position: absolute;
        top: 19px;
        font-size: 10px;
        color: #fff;
        left: 8px;
        right: 8px;
        height: 2px;
        background: #fff;
        box-shadow: 0 0 1px #000;
        transition: transform 0.1s;
    }

        .menu-button span::before,
        .menu-button span::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: inherit;
            content: "";
        }

        .menu-button span::before {
            top: -7px;
            transform-origin: top right;
            transition: transform 0.1s, width 0.1s, top 0.1s;
        }

        .menu-button span::after {
            bottom: -7px;
            transform-origin: bottom right;
            transition: transform 0.1s, width 0.1s, bottom 0.1s;
        }

.showlist {
    transform: translate3d(0, 0, 0);
}

    .showlist .menu-button span {
        transform: rotate(180deg);
    }

        .showlist .menu-button span::before {
            top: 0;
            width: 50%;
            transform: translateX(14px) translateY(1px) rotate(45deg);
        }

        .showlist .menu-button span::after {
            bottom: 0;
            width: 50%;
            transform: translateX(14px) translateY(-1px) rotate(-45deg);
        }

.font-size-test {
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    top: -1000px;
    left: -1000px;
}

@keyframes doubleBounce {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0);
        opacity: 0;
    }
}

#volumebar {
    position: absolute;
    left: 35px;
    margin: 0 auto;
    margin-top: 5px;
    height: 5px;
    width: 100px;
    background: #555;
    border-radius: 15px;
}

    #volumebar .ui-slider-range-min {
        height: 5px;
        width: 100px;
        position: absolute;
        background: #2ecc71;
        border: none;
        border-radius: 10px;
        outline: none;
    }

    #volumebar .ui-slider-handle {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background: #FFF;
        position: absolute;
        margin-left: -8px;
        margin-top: -8px;
        cursor: pointer;
        outline: none;
    }

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    z-index: 2;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: left top;
    margin-left:45px;
}

    .openbtn:hover {
        background-color: #444;
    }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
